* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* cursor: default; */
}

html {
  font-size: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #8b959e;
}
[class^="header__nav__"] {
  display: flex;
  list-style: none;
  align-items: center;
}
.header__nav__left {
  margin-right: 40px;
}
.header__nav .items:hover,
.header__nav .active {
  color: #191c1f;
  cursor: pointer;
}
.header__nav .link {
  text-decoration: none;
  color: #8b959e;
}
.header__nav .link:hover,
.header__nav .active .link {
  color: #191c1f;
}
.header__nav .items:not(:last-child){
  margin-right: 40px;
}
.header__nav .items--logo {
  margin-right: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.header__nav .items {
  position: relative;
}
.header__nav .items__dropdown {
  display:flex;
  flex-direction: column;
  position: absolute;
  width: 200%;
  top: 150%;
  background-color: #fff;
  left: 50%;
  transform: translatex(-50%);
  filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.1));
}
.header__nav .items__dropdown__element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
