* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* cursor: default; */
}

html {
  font-size: 10px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #8b959e;
}
[class^="header__nav__"] {
  display: flex;
  list-style: none;
  align-items: center;
}
.header__nav__left {
  margin-right: 40px;
}
.header__nav .items:hover,
.header__nav .active {
  color: #191c1f;
  cursor: pointer;
}
.header__nav .link {
  text-decoration: none;
  color: #8b959e;
}
.header__nav .link:hover,
.header__nav .active .link {
  color: #191c1f;
}
.header__nav .items:not(:last-child){
  margin-right: 40px;
}
.header__nav .items--logo {
  margin-right: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.header__nav .items {
  position: relative;
}
.header__nav .items#scarica-app {
  background-color: rgb(235, 0, 141);
  border-radius: 50px;
  padding: 15px 20px;
}
.header__nav .items#scarica-app:hover {
  filter: brightness(0.9);
}
.header__nav .items#scarica-app .link {
  color: #fff;
}
.header__nav .items__title {
  padding-top: 15px;
  padding-bottom: 15px;
}
.items__dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translatex(-50%);
  filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.1));
  white-space: nowrap;
}
.header__nav .items__dropdown__element {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 40px;
  padding-right: 40px;
}
.items__dropdown__element .beta {
  position: relative;
}
.items__dropdown__element .beta:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translatex(100%);
  content: 'beta';
  color: rgb(235, 0, 141);
  font-size: 1rem;
  font-weight: 700;
}
.items__dropdown__element .new {
  position: relative;
}
.items__dropdown__element .new:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translatex(100%);
  content: 'Nuovo';
  color: rgb(235, 0, 141);
  font-size: 1rem;
  font-weight: 700;
}
